<a href="#" class="dropdown-toggle" data-toggle="dropdown">


    <span class="fa fa-globe "></span> <b class="caret"></b>

    <span class="label label-primary nav-label-icon" id="">{{numberOfTrue}}</span>

</a>
<ul class="dropdown-menu dmenu">
    <li>
        <div class="navbar-login">
            <div class="col-md-12">
                <div class="row">
                    <div class="dropdown-tag">
                        <h3 class="text-center dropdown-tag-head">
                            Notifications
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                {{#compare chat.length ">" 0 }}

                    {{#each chat}}
                        {{#ifCond user.username '!==' body.senderName}}
                        <a data-value="{{body._id}}" id="messageLink" href="/chat/{{lowercase body.senderName}}.{{lowercase ../user.username}}">



                            <div class="row">
                                <div class="col-md-3">
                                    <p class="text-center">
                                        <img src="https://fotballkik.s3.amazonaws.com/{{body.sender.userImage}}"
                                             class="img-circle img-responsive dropdown-img"/>
                                    </p>
                                </div>
                                <div class="col-md-9 pleft-0">
                                    <div class="row">
                                        <div class="col-md-12 textRow">
                                            <div class="col-md-12" id="textRow">
                                                <p class="text-left drop-name">

                                                    {{#ifCond user.username '!==' body.receiverName}}
                                                        <strong>{{body.receiverName}}</strong>


                                                     {{else}}
                                                        <strong>{{body.senderName}}</strong>
                                                    {{/ifCond}}


                                                </p>
                                                <input type="hidden" name="chatId" id="chatId" value="{{body._id}}">
                                                {{body.message}}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {{/ifCond}}
                            {{#ifCond user.username '===' body.senderName}}
                                <a data-value="{{body._id}}" id="messageLink" href="/chat/{{lowercase body.senderName}}.{{lowercase ../user.username}}">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="text-center">
                                                <img src="https://fotballkik.s3.amazonaws.com/{{body.receiver.userImage}}"
                                                     class="img-circle img-responsive dropdown-img"/>
                                            </p>
                                        </div>
                                        <div class="col-md-9 pleft-0">
                                            <div class="row">
                                                <div class="col-md-12 textRow">
                                                    <div class="col-md-12" id="textRow">
                                                        <p class="text-left drop-name">

                                                            {{#ifCond user.username '!==' body.receiverName}}
                                                                <strong>{{body.receiverName}}</strong>


                                                            {{else}}
                                                                <strong>{{body.senderName}}</strong>
                                                            {{/ifCond}}


                                                        </p>
                                                        <input type="hidden" name="chatId" id="chatId" value="{{body._id}}">
                                                        {{body.message}}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                        <hr class="dropdown-divider"/>
                        {{/ifCond}}
                    {{/each}}
                {{/compare}}

            </div>
        </div>
    </li>

</ul>
