{{#section 'styles'}}
    <link rel="stylesheet" href="/css/style.css">
{{/section}}

{{#section 'title'}}
    {{title}}
{{/section}}

{{#section 'header'}}
    {{> _header}}
{{/section}}



<div class="col-md-12">
    <input type="hidden" id="name-user" value="{{user.username}}">
    <input type="hidden" id="name-image" value="{{user.userImage}}">
    <form action="/members" method="post">
        <div class="form-group ad-30" style="margin-top:8px;">
            <div class="input-group search-style">
                <input class="form-control new-search-bar" name="username" id="search" placeholder="Enter username"
                       type="text">
                <span class="input-group-btn">
                    <button class="btn input-btn" type="" id="search-form">Search</button>
                </span>
            </div>
        </div>
    </form>
</div>


<div class="col-md-12">
    <div class="">
        <div class="row">
            <!--<div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-container">
                            <div class="card">
                                <form action="/results" method="post">
                                    <div class="content">
                                        <p class="filter">
                                            FILTER
                                        </p>
                                        <hr/>
                                        <select class="form-control" name="country" id="country">
                                            <option value="">Filter By Country</option>
                                            {{#each countries}}
                                                <option value="{{_id}}">{{_id}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="clearfix"></div>
                                        <button class="btn add-apply">Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-md-12">
                <div>

                    {{#each chunks}}
                        <div class="category-list">
                            <div class="row">

                                {{#each this}}

                                    <form action="/home" method="post" id="favourite">
                                        <div class="item col-md-4">

                                            <a style="text-decoration: none" href="">

                                                <div class="thumbnail">
                                                    <img src="https://fotballkik.s3.amazonaws.com/{{userImage}}" alt="">
                                                    <div class="caption">
                                                        <div class="row">

                                                            <div class="col-xs-12 col-md-12">
                                                                <h4 style="color: #4aa1f3">{{username}}</h4>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </a>

                                        </div>
                                    </form>

                                {{/each}}

                            </div>


                        </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</div>


{{#section 'script'}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/group/sendRequest.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/global.js"></script>
{{/section}}